.pos-navbar{
    background-color: #044257;
    font-size: 20px;
    font-family: 'Roboto', sans-serif; 
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.pos-mat-icon-button{
    color:white;
    background-color: transparent;
}
