.pos-mat-chip {
  background-color: rgb(93, 153, 187);
  color: white;
  padding: 10px;
  width: unset;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 500;
}

.pos-gender-button {
  border-radius: 16px;
  border: 0px;
  padding: 10px;
  color: white;
  font-weight: 500;
}

.pos-gender-button-Male {
  background-color: rgb(119, 162, 47);
}

.pos-gender-button-Female {
  background-color: rgb(129, 129, 129);
}

.filters {
  display: grid;
  grid-template-columns: 1fr 212px;
  grid-template-areas: "filter1 filter2 filter3 filter4 filter5 btn1 btn2";

  column-gap: 16px;
  grid-auto-flow: row;
}

@media (max-width: 1499px) {
  .filters {
    grid-template-areas:
      "filter1 filter2 filter3 filter4 filter5"
      "spacer spacer spacer btn1 btn2  ";
    margin-bottom: 16px;
  }
  .btn2 {
    margin-bottom: 16px;
  }
}

@media (max-width: 1165px) {
  .filters {
    grid-template-columns: 238px 212px 212px 212px;
    grid-template-areas:
      "filter1 filter2 filter3"
      "filter4 filter5 spacer"
      "btn1 btn2 spacer";
  }
}

@media (max-width: 700px) {
  .filters {
    grid-template-columns: 238px 212px;
    grid-template-areas:
      "filter1 filter2 "
      "filter3 filter4 "
      "filter5 spacer"
      "btn1 btn2";
  }
}

@media (max-width: 575px) {
  .filters {
    grid-template-columns: 238px;
    grid-template-areas:
      "filter1 "
      "filter2 "
      "filter3 "
      "filter4  "
      "filter5 "
      "btn1"
      "btn2";
  }
  .btn1 {
    margin-bottom: 20px;
  }
}

.filter1 {
  grid-area: filter1;
  margin-right: auto;
}
.filter2 {
  grid-area: filter2;
}
.filter3 {
  grid-area: filter3;
}
.filter4 {
  grid-area: filter4;
}
.filter5 {
  grid-area: filter5;
}
.btn1 {
  grid-area: btn1;
}
.btn2 {
  grid-area: btn2;
}

.pos-search-form-field {
  width: 238px;
}
