<mat-card class="fadeIn mat-card pos-card">
  <mat-card-title class="mat-card-title">
    <pos-breadcrumbs></pos-breadcrumbs>
  </mat-card-title>
  <mat-card-title class="mat-card-title">
    Current Solicitations
  </mat-card-title>
  <mat-card-subtitle class="mat-card-subtitle">
    A list of Future and Open solicitations with the Port of Seattle. Use the
    filter to search all solicitations.
  </mat-card-subtitle>

  <mat-form-field appearance="outline" class="pos-form-field">
    <mat-label>Outline form field</mat-label>
    <input matInput placeholder="Placeholder">
    <span matTextPrefix><mat-icon class="search-icon">search</mat-icon></span>
    <span matTextSuffix><button  mat-icon-button  ><mat-icon class="close-icon">close</mat-icon></button></span>
<!--     <button mat-suffix mat-icon-button color="warn" aria-label="Example icon button with a heart icon">
        <mat-icon>favorite</mat-icon>
      </button> -->

  </mat-form-field>

</mat-card>
